/* ----- GLOBAL RESET ----- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}



/* ----- BODY ----- */
body {
    text-rendering: optimizeLegibility;
    min-height: 100vh;
    scroll-behavior: smooth;
    padding: 0;
    line-height: 1.5;
    /* BACKGROUND */
    background-color:rgb(241, 250, 247);
    /*include foliage once drawn up and imported*/
    /* FONTS */
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    color: rgb(61, 63, 65);
}



/* ----- ELEMENT FORMATTING ----- */
img, picture, video, canvas, svg, iframe {
    display: block;
    max-width: 100%;
}

audio {
    display: block;
    width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}



/* ----- HEADER ----- */
header {
    font-family: "Julius Sans One", sans-serif;
    padding: 3rem;
    text-align: center;
}

.title {
    font-size: 3rem;
    padding: 1rem;
}

.headerParagraph {
    font-size: 1.5rem;
    padding: 1rem;
}



/* ----- NAVBAR ----- */
.stickyNav {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navUl {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

    background-color: rgb(207, 239, 234);
}

.navUl li {
    flex: 1;
    padding: 0.25rem;
    margin: 0.15rem;
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
    border-radius: 0.75rem;
}

.navUl li a {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
}

.active {
    background-color: rgb(176, 220, 213);
}



/* ----- MAIN ----- */
main {
    margin-bottom: 3rem;
    width: 70%;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 2rem;
    overflow: auto;
}

.aboutHeading {
    grid-row: 1;
    padding: 0.75rem;
}

.section1 {
    grid-row: 2;
    grid-column: 1 / span 8;
}

.section1 p {
    padding: 0.75rem;
}

.section2 {
    grid-row: 2;
    grid-column: 9 / span 4;
}

.section2 img {
    border-radius: 0.5rem;
}


/* BUTTON GOING WRONG. NOT RESPONSIVE WHEN SMALL. HYPERLINK TEXT STICKS OUT OF GREEN BOX WHEN WINDOW IS SHRUNK DOWN. */
.buttonContainer {
    grid-row: 3;
    grid-column: 3 / span 3;

    padding-block: 0.5rem;
    background-color: rgb(40, 70, 54);
    border-radius: 1rem;

    min-width:fit-content; /*to prevent the weird overflow issues*/
    min-height: fit-content; /*to prevent the weird overflow issues*/
}


.getInTouchButton {
    font-family: "Julius Sans One", sans-serif;
    text-decoration: none;
    color: azure;

    padding-block: 0.5rem;

    display: block; /*to allow the <a> to inherit width from <section>*/
    width: inherit; /*to make the <a> the same width as the <section>*/
    text-align: center; /*to keep the text in the centre of th <a>*/
    
}


/* ----- FOOTER ----- */
footer {
    background-color: rgb(207, 239, 234);
}
